body {
    padding: 0;
    margin: 0;
}

div {
    margin: auto;
    width: 200px;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    /* background: linear-gradient(#21d4fd, #b721ff); */
    background: #777;
    border-radius: 100px;
}