body{
    background-color: #333;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.container{
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.trailer {
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
}

.trailer img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.trailer button {
    margin-top: 5px;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.trailer button:hover {
    background-color: #f7c607;
    color: #000000;
}

.modal {
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal .close {
    cursor: pointer;
    float: right;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 20px 0 0;
}

.modal video {
    width: 70%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}